<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="service_port" value="1990"/>
		<add key="service_ip" value="192.168.0.2"/>
		<add key="daemon_port" value="5959"/>
		<add key="datapath" value="~/Bioinformatica"/>
	</appSettings>
	<connectionStrings>
		<add name="db" connectionString="Server=pbio-cluster-master;Database=PBioDaemon;User id=root;password=root;" />
	</connectionStrings>
</configuration>
